<!-- templates/supplier_confirm_delete.html -->
{% extends 'base.html' %}

{% block title %}Confirm Supplier Deletion{% endblock %}

{% block content %}
    <div class="header">
        <h1>Are you sure you want to delete {{ supplier.name }}?</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-custom">Yes, Delete</button>
        <a href="{% url 'supplier_list' %}" class="btn btn-secondary btn-custom">Cancel</a>
    </form>
{% endblock %}
